<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo - React 3 - {% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="small">
      <a href="/sharkwords-final">Final version here</a>
      <a href="/more">More demos!</a>
      <a href="/">Our Sharkwords game! 🦈</a>
    </nav>
    <div class="container">
      {% block body %}{% endblock %}
  </div>
  </body>
</html>
